# =======================
# DATABASE CONFIG
# =======================
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5435/secondhand_auth_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# =======================
# CLOUDINARY CONFIG
# =======================
CLOUDINARY_CLOUD_NAME=dgachkyc7
CLOUDINARY_API_KEY=421262947271889
CLOUDINARY_API_SECRET=2YJG_3cmYpWjGX7BW3q598wWQ3g

# =======================
# OAUTH2 / GOOGLE CONFIG
# =======================
GOOGLE_CLIENT_ID=your-google-client-id-here.apps.googleusercontent.com
