SPRING_DATA_MONGODB_URI=mongodb://localhost:27019/secondhand_chat_db

SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379

SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=admin
SPRING_RABBITMQ_PASSWORD=

JWT_SECRET=
SECURITY_LOG_LEVEL=INFO

APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:5174
