SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5435/secondhand_order_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=

SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_JPA_SHOW_SQL=false

JWT_SECRET=
SECURITY_LOG_LEVEL=INFO

VNPAY_TMN_CODE=
VNPAY_SECRET_KEY=
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=
VNPAY_API_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction

CORE_SERVICE_URL=http://localhost:8082
AUTH_SERVICE_URL=http://localhost:8081
FRONTEND_BASE_URL=http://localhost:3000
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:5174

SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=admin
SPRING_RABBITMQ_PASSWORD=
