SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5435/secondhand_core_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=

SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_JPA_SHOW_SQL=false

JWT_SECRET=
SECURITY_LOG_LEVEL=INFO

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_ITEM_FOLDER=secondhand-items

AUTH_SERVICE_URL=http://localhost:8081
ORDER_SERVICE_URL=http://localhost:8083

FRONTEND_BASE_URL=http://localhost:3000
PUBLIC_API_BASE_URL=http://localhost:8000
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:5174

WALLET_CALLBACK_URL=http://localhost:8000/core/api/wallet/payment-callback
ITEM_CALLBACK_URL=http://localhost:8000/core/api/items/payment-callback

SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379

SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=admin
SPRING_RABBITMQ_PASSWORD=
